body
	{font-family: 'メイリオ','Hiragino Ksku Gothic Pro', sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 0;}

textarea{
	width: 150px;
	height: 100px;}
	
.position1 {top: 135px;
	left: 240px;
	position: absolute;}

.position2 {left: 20px;
<<<<<<< HEAD
	position: absolute;
	top: -10px}
	
#Reply {color: #000;
	background-color: #fff;
}

textarea#Reply {position: absolute;
top: 260px;
left: 455px;
opacity:0.8;
z-index: 1;
width: 160px;
border: none;
resize: none}
=======
	position: absolute;}
	
>>>>>>> b6622009d28b28dde0aa5fbf59acd3d86a5dbddc
